.homepage {
  align-items: flex-start;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #ced4da;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.homepage .body {
  border: 0px none;
  height: 844px;
  position: relative;
  width: 390px;
}

.homepage .div {
  background-color: #f9fafb;
  border: 0px none;
  height: 844px;
  position: relative;
}

.homepage .overlap {
  height: 747px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.homepage .main {
  border: 0px none;
  height: 747px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.homepage .section {
  border: 0px none;
  height: 96px;
  left: 0;
  position: absolute;
  top: 64px;
  width: 390px;
}

.homepage .div-2 {
  border: 0px none;
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: relative;
  top: 24px;
  width: 358px;
}

.homepage .button {
  all: unset;
  background-color: #7c3aed;
  border: 0px none;
  border-radius: 9999px;
  box-sizing: border-box;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 98px;
}

.homepage .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 65px;
}

.homepage .div-wrapper {
  all: unset;
  background-color: #e5e7eb;
  border: 0px none;
  border-radius: 9999px;
  box-sizing: border-box;
  height: 40px;
  left: 114px;
  position: absolute;
  top: 0;
  width: 67px;
}

.homepage .text-wrapper-2 {
  color: #374151;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 35px;
}

.homepage .button-2 {
  all: unset;
  background-color: #e5e7eb;
  border: 0px none;
  border-radius: 9999px;
  box-sizing: border-box;
  height: 40px;
  left: 197px;
  position: absolute;
  top: 0;
  width: 70px;
}

.homepage .text-wrapper-3 {
  color: #374151;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 37px;
}

.homepage .button-3 {
  all: unset;
  background-color: #e5e7eb;
  border: 0px none;
  border-radius: 9999px;
  box-sizing: border-box;
  height: 40px;
  left: 283px;
  position: absolute;
  top: 0;
  width: 84px;
}

.homepage .text-wrapper-4 {
  color: #374151;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 51px;
}

.homepage .button-4 {
  all: unset;
  background-color: #e5e7eb;
  border: 0px none;
  border-radius: 9999px;
  box-sizing: border-box;
  height: 40px;
  left: 382px;
  position: absolute;
  top: 0;
  width: 126px;
}

.homepage .text-wrapper-5 {
  color: #374151;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 92px;
}

.homepage .section-2 {
  border: 0px none;
  height: 347px;
  left: 0;
  position: absolute;
  top: 160px;
  width: 390px;
}

.homepage .text-wrapper-6 {
  color: #1f2937;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 145px;
}

.homepage .div-3 {
  border: 0px none;
  height: 255px;
  left: 16px;
  position: absolute;
  top: 68px;
  width: 358px;
}

.homepage .div-4 {
  background-color: #ffffff;
  border: 0px none;
  border-radius: 8px;
  box-shadow: 0px 1px 3px #0000001a, 0px 1px 2px #0000001a;
  height: 255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 171px;
}

.homepage .img-wrapper {
  border: 0px none;
  height: 171px;
  left: 0;
  position: absolute;
  top: 0;
  width: 171px;
}

.homepage .img {
  background-image: url(./img.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 0px none;
  border-radius: 8px 8px 0px 0px;
  height: 171px;
}

.homepage .div-5 {
  border: 0px none;
  height: 84px;
  left: 0;
  position: absolute;
  top: 171px;
  width: 171px;
}

.homepage .text-wrapper-7 {
  color: #1f2937;
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 13px;
  width: 131px;
}

.homepage .text-wrapper-8 {
  color: #7c3aed;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 34px;
  width: 56px;
}

.homepage .text-wrapper-9 {
  color: #6b7280;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.homepage .div-6 {
  background-color: #ffffff;
  border: 0px none;
  border-radius: 8px;
  box-shadow: 0px 1px 3px #0000001a, 0px 1px 2px #0000001a;
  height: 255px;
  left: 187px;
  position: absolute;
  top: 0;
  width: 171px;
}

.homepage .img-2 {
  background-image: url(./image.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 0px none;
  border-radius: 8px 8px 0px 0px;
  height: 171px;
}

.homepage .text-wrapper-10 {
  color: #1f2937;
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 13px;
  width: 101px;
}

.homepage .text-wrapper-11 {
  color: #7c3aed;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 12px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 34px;
  width: 57px;
}

.homepage .section-3 {
  background-color: #ede9fe;
  border: 0px none;
  border-radius: 12px;
  height: 160px;
  left: 16px;
  position: absolute;
  top: 507px;
  width: 358px;
}

.homepage .div-7 {
  border: 0px none;
  height: 112px;
  left: 16px;
  position: relative;
  top: 24px;
  width: 326px;
}

.homepage .sell-your-kids {
  color: #1f2937;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 54px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 217px;
}

.homepage .p {
  color: #4b5563;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 217px;
}

.homepage .button-5 {
  all: unset;
  background-color: #7c3aed;
  border: 0px none;
  border-radius: 9999px;
  box-sizing: border-box;
  height: 40px;
  left: 93px;
  position: absolute;
  top: 72px;
  width: 140px;
}

.homepage .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 92px;
}

.homepage .header {
  background-color: #ffffff;
  border: 0px none;
  box-shadow: 0px 1px 2px #0000000d;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.homepage .div-8 {
  border: 0px none;
  height: 56px;
  position: relative;
  width: 390px;
}

.homepage .div-9 {
  border: 0px none;
  height: 32px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 118px;
}

.homepage .text-wrapper-13 {
  color: #7c3aed;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  width: 118px;
}

.homepage .div-10 {
  border: 0px none;
  height: 20px;
  left: 320px;
  position: absolute;
  top: 18px;
  width: 54px;
}

.homepage .frame-wrapper {
  border: 0px none;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.homepage .frame {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  position: relative;
  width: 20px;
}

.homepage .frame-2 {
  height: 20px;
  position: relative;
  width: 20px;
}

.homepage .overlap-group-wrapper {
  all: unset;
  border: 0px none;
  box-sizing: border-box;
  height: 20px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 18px;
}

.homepage .overlap-group {
  height: 24px;
  position: relative;
  top: -4px;
  width: 22px;
}

.homepage .frame-3 {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 4px;
  width: 18px;
}

.homepage .frame-4 {
  height: 20px;
  position: relative;
  width: 17.5px;
}

.homepage .span {
  background-color: #7c3aed;
  border: 0px none;
  border-radius: 9999px;
  height: 16px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 16px;
}

.homepage .text-wrapper-14 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.homepage .nav {
  background-color: #ffffff;
  border-color: #e5e7eb;
  border-top-style: solid;
  border-top-width: 1px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 787px;
  width: 390px;
}

.homepage .div-11 {
  border: 0px none;
  height: 56px;
  position: relative;
  top: 1px;
}

.homepage .button-6 {
  all: unset;
  border: 0px none;
  box-sizing: border-box;
  height: 40px;
  left: 45px;
  position: absolute;
  top: 8px;
  width: 34px;
}

.homepage .frame-5 {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 6px;
  position: absolute;
  top: 0;
  width: 22px;
}

.homepage .frame-6 {
  height: 20px;
  position: relative;
  width: 22.5px;
}

.homepage .text-wrapper-15 {
  color: #7c3aed;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.homepage .button-7 {
  all: unset;
  border: 0px none;
  box-sizing: border-box;
  height: 40px;
  left: 136px;
  position: absolute;
  top: 8px;
  width: 36px;
}

.homepage .frame-7 {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 8px;
  position: absolute;
  top: 0;
  width: 20px;
}

.homepage .text-wrapper-16 {
  color: #9ca3af;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.homepage .button-8 {
  all: unset;
  border: 0px none;
  box-sizing: border-box;
  height: 40px;
  left: 230px;
  position: absolute;
  top: 8px;
  width: 21px;
}

.homepage .frame-8 {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.homepage .button-9 {
  all: unset;
  border: 0px none;
  box-sizing: border-box;
  height: 40px;
  left: 308px;
  position: absolute;
  top: 8px;
  width: 37px;
}

.homepage .frame-9 {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 10px;
  position: absolute;
  top: 0;
  width: 18px;
}